{% extends "base.html" %}


{% block title %} Home {% endblock  %}


{% block content %}

    <div class="card mx-auto" style="max-width: 600px; padding: 20px; margin: 20px;">
        <form action="" method="get">
            {{ form.as_p }}
            <input type="submit" value="search", class="btn btn-primary">
        </form>
    </div>

    <div class="card mx-auto" style="max-width: 600px; padding: 20px; margin: 20px;">
        {% for post in posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> by {{post.user.username}} 
            </p>
        {% endfor %}
    </div>

{% endblock %}