{% extends "base.html" %}

{% block title %} {{ user.username }}'s profile {% endblock title %}

{% block content %}
    <div style="display: flex; justify-content: center;">
        <h1>{{ user.username }}</h1>
    </div>

    <div class="card" style="padding: 20px">
        {% if posts %}
            {% for post in posts %}
                <p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> at {{ post.created_at|date:"d-m-Y" }}
                </p>
            {% endfor %}
        {% else %}
            <p>There's no post</p>
        {% endif %}
    </div>
{% endblock content %}